HomeControlService.App/bin/Debug/HomeControlService-Trace.log.1
HomeControlService.App/bin/Debug/HomeControlService-Trace.log.2
HomeControlService.App/bin/Debug/HomeControlService-Trace.log.3
HomeControlService.App/bin/Debug/HomeControlService-Trace.log.4
HomeControlService.App/bin/Debug/HomeControlService-Trace.log.5
HomeControlService.App/bin/Debug/HomeControlService-Trace.log.6
node_modules/
bin/
obj/
*.force
