<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="connectionString" value="data\IdentifyingDevices.json"/>
    <add key="HttpReporter.endpoint" value="http://homecontrol-cloud-feedmanager.azurewebsites.net/api/State"/>
    <!--<add key="HttpReporter.endpoint" value="http://localhost:64217/api/State"/>-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>


  <log4net configSource="log4net.config" />

</configuration>